
.Heading-side{
  text-align: center;
  margin-top: 0%;
}
.photo-side{
  width: 113px;
  height: 150px;
  border: 2px solid black;
  display: flex;
  position: absolute;
  top: 5px;         
  right: 20px;
}
.summary{
  h3{
    color: rgb(96, 96, 249);
  }
  text-align: justify;
}
.skills{
  h3{
    color: rgb(96, 96, 249);
  }
  text-align: justify;
}
.education{
  h3{
    color: rgb(96, 96, 249);
  }
  p{
    margin: 0%;
  }
  .edu-entry{
    display: flex;
    justify-content: space-between;
  }
  #date{
    text-align: right;
  }
}
.trainings{
  h3{
    color: rgb(96, 96, 249);
  }
  p{
    margin: 0%;
  }
  .training-entry{
    display: flex;
    justify-content: space-between;
  }
  #date{
    text-align: right;
  }
}
.projects{
  h3{
    color: rgb(96, 96, 249);
  }
  p{
    margin: 0%;
  }
}
.certification{
  h3{
    color: rgb(96, 96, 249);
  }
  p{
    margin: 0%;
  }
}
.responsibility{
  h3{
    color: rgb(96, 96, 249);
  }
  p{
    margin: 0%;
  }

}




